
*, *::before, *::after { box-sizing: border-box; }

body{
    font-family: sans-serif; 
    font-size: 13px;/* default in chrome extensions and also dev tools , so we're normalizing here */
    margin:0px;
    color: #333;
    background-color: #eee;
}

:root{
    --dlg-width:500px;/* modal dialog */
}

/* this means we are in a popup */
@media (max-width: 800px) {
    body{
        /* max for both fx and chrome */
        width:800px;
    }
}

/* this means we are probably in full mode */
@media (min-width: 801px) {
    body{
        /* max for both fx and chrome */
        width:100%;
    }
}

/* most if these things is to have fixed columns position */
.entries-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fff;
    
}

.entries-table thead {
    /* background: black;
    color:#fff; */
    background-color: #eaeaea;
}

.entries-table thead tr {
    display: block;
}


.entries-table tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 300px;
}

.entries-table thead th{
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.entries-table th, .entries-table td {
    padding: 4px;
    text-align: left;
    display: inline-block;
    width: 200px;  
    border-left: 1px solid #dbdbdb;
    
}	
 
.entries-table th:last-child, .entries-table td:last-child  {
    border-right: 1px solid #dbdbdb;
}
/*
.entries-table tbody tr:last-child {
    border-bottom: 1px solid #cbcbcb;
} */




.entries-table td span{
    display: block;
    white-space: nowrap;
    overflow:hidden;
}

/** specific columns **/

.entries-table th.slim, .entries-table td.slim{
    width:55px;
}
.entries-table th.type, .entries-table td.type{
    width:80px;
}
.entries-table th.path-name-smart, .entries-table td.path-name-smart{
    width:350px; 
    
}
.entries-table th.show-details, .entries-table td.show-details{
    width:25px;
    cursor: pointer;
}

/* other things related to entries table, like hover, selected maybe etc */


.entries-table tr:nth-child(even) {
    background-color:#f3f3f3;
}

.entries-table tbody tr:hover {
    background-color:#f1f6fd;
}

.entries-table tbody tr:nth-child(even):hover {

    background-color:#f1f6fd;
    /* background-image: linear-gradient(0deg, rgba(0,0,255,0.1) 0%, rgba(0,0,255,0.1) 100%); */
}

.entries-table {
    cursor: default ; 
}


/*
-------------------------------------------------------------------------------
status bar
-------------------------------------------------------------------------------
*/

#status{
    padding:3px;
    border:1px solid #ccc;
    border-right:none;
    border-left:none;
}



/*
-------------------------------------------------------------------------------
modal dialog
-------------------------------------------------------------------------------
*/
.modal{
    position:absolute;
    top: 50px;
    width: var(--dlg-width);
    /* height: 200px; */
    left: calc(50% - var(--dlg-width)/2);
    padding: 10px;
    /* font-size:1.1em; */
    border: 1px solid #555;
    border-radius: 5px; 
    background-color:white; 
    
    color:#444;
    display:none;
    
}
  
.modal.modal-visible{
    display:block;
}

.modal .content{
    margin-bottom:5px;
}

.modal .modal-btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    /* background: #fff; */
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    /* color: #aaa; */
    opacity:0.7;
}

.modal .modal-btn-close:hover { 
    opacity:1; 
}  

.modal .modal-btn-ok {
    /* position: absolute; */
    bottom: 20px;
    right: 30px;
    min-width: 50px;
    height: 32px;
    padding:9px;

    text-align: center;
    cursor: pointer;
    background: #456CB3;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
}

.modal h1{
    font-size:1.2em;
    color :#111;
}

.modal h2{
    font-size:1.1em;
    font-weight:bold;
    margin:12px 0px;
    border-bottom:1px solid #eee;
    max-width:97%;
    color :#111;
}

/* the entire detail's container (which might be then a child of a dialog */
.entry-details{
    margin-top:1.5em;
    max-height:200px;
    padding-right:5px;
    overflow:auto;
    word-wrap:break-word;
    
}
.entry-details .row {
    margin-bottom:0.3em;
}
.entry-details .row .name{
    font-weight: bold;
    display:inline-block;
    margin-right:0.5em;
}

.entry-details .row .value {
    
}