
*, *::before, *::after { box-sizing: border-box; }

html{
    height:100%;
}

body{
    font-family: sans-serif; 
    font-size: 13px;/* default in chrome extensions and also dev tools , so we're normalizing here */
    margin:0px;
    color: #333;
    background-color: #eee;
    height:100%;
}

:root{
    --dlg-width:500px;/* modal dialog */
    --toolbar-height:36px;
    --statusbar-height:26px;
}


/* this means we are in a popup */
@media (max-width: 800px) {
    html{
        /* max for both fx and chrome */
        width:800px;
        height:300px;
    }
}

/* this means we are probably in full mode */
@media (min-width: 801px) {
    html{
        /* max for both fx and chrome */
        width:100%;
    }
}


/* most if these things exist to have fixed header position */

#entries-table{
    width: 100%;
    background-color: #fff;
    cursor: default ; 

    height:calc(100% - var(--toolbar-height) - var(--statusbar-height) - 1px);
    display:block;
    overflow:hidden;
}


#entries-table thead{
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    
    width: calc(100% - 16px); /* assuming scrollbar width as 16px */
    background-color: #eaeaea;
}      
    
#entries-table tbody{
    
    table-layout: fixed;
    display: block;
    overflow: auto;
    overflow-y: scroll;

    /* height: 200px;  */
    height:calc(100% - 21px);/*assuming thead has this number of pixels in height */
}

#entries-table tr{
    width: 100%;
    height:2em;
    display: table;
    table-layout: fixed;

}

#entries-table tr td, 
#entries-table tr th{
    /* border:1px solid #eaeaea; */
    border-bottom:1px solid #eaeaea;
    height:1.5em;
    padding-left:5px;
    padding-right:5px;
    text-align: left;
}
#entries-table tr th{
    border:1px solid #dadada;
}
#entries-table td span{
    display: block;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#entries-table tr:nth-child(even) {
    background-color:#f4f4f4;
}

#entries-table tbody tr:hover {
    background-color:#f1f6fd;
}

#entries-table tbody tr:nth-child(even):hover {
    background-color:#f1f6fd;
    /* background-image: linear-gradient(0deg, rgba(0,0,255,0.1) 0%, rgba(0,0,255,0.1) 100%); */
}

/*
the row represents the key (main) request, which ususally is a *page* opened just after navigating
to some url.
*/
#entries-table  tr.item-main-frame{
    /* font-weight: bold; */
    background-color:#d1d6e5;
}

/*
Server error item, like 404. Applies to the whole tr
*/
#entries-table  tr.item-server-error{
    color: #E71010;
}

/*
Client error item, like 'blocked by client', applies to the whole tr element.
*/
#entries-table  tr.item-client-error{
    color: #E74010;
}


/** specific columns **/

#entries-table .col-slim{
    /* width:55px; */
    width:55px;
}

#entries-table .col-tab-title{
    /* width:55px; */
    width:120px;
}

#entries-table .col-type{
    width:80px;
}

#entries-table  .col-url-domain{
    width:20%;
}


#entries-table  .col-url-name{
    width:40%;
}

/*
-------------------------------------------------------------------------------
bars, toolbar, status bar,
-------------------------------------------------------------------------------
*/

.bar{
    overflow:hidden;
    display: flex;
    align-items: center;    
}
.bar .bar-left{
    flex:auto;
}
.bar .bar-right{
    padding-right:10px;
}

/* label and checkboxes - without it they seem misaligned  */
.bar label input{
    position:relative;
    top:3px;
}

/*
-------------------------------------------------------------------------------
toolbar
-------------------------------------------------------------------------------
*/

#toolbar {
    padding:5px 3px 5px 3px;
    height: var(--toolbar-height);
}

#toolbar #toolbar-right{
    /* float:right;
    margin-right:20px; */
}

/*eg. text filter*/
#toolbar input[type='text']{
    height:26px;
    padding-left:3px;
}

#toolbar .button{
    /* position:relative;
    top:2px; */

    font-size:120%;
    border:none;
    background-color:inherit; 
    opacity:0.7;
    min-width:26px;
}

#toolbar .button:hover{
    /* background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)); */
    opacity: 1;
}

#toolbar .button:focus{
    border:none;
    outline:none;
}

#toolbar .button.pressed{
    /* border:1px solid #ccc; */
    /* background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));  */
    color:#0cf;
}

/* svg */
.fa-icon{
	width:1em;
	height:1em;
	vertical-align: top;/*this isn't strictly necesssary*/
}
/*
those icons/unicode symbols need to be manually lowered.
*/
.button#clearTab, .button#clearAll, .button#popOut{
    position:relative;
    top:2px; 
}

#toolbar #tabinfo {
    margin-left:3px;    
}

/*
-------------------------------------------------------------------------------
status bar
-------------------------------------------------------------------------------
*/

#statusbar{
    padding:3px;
    border:1px solid #ccc;
    border-right:none;
    border-left:none;
}

/*
-------------------------------------------------------------------------------
modal dialog
-------------------------------------------------------------------------------
*/
.modal{
    position:absolute;
    top: 50px;
    width: var(--dlg-width);
    /* height: 200px; */
    left: calc(50% - var(--dlg-width)/2);
    padding: 10px;
    /* font-size:1.1em; */
    border: 1px solid #555;
    border-radius: 5px; 
    background-color:white; 
    
    color:#444;
    display:none;
    
}
  
.modal.modal-visible{
    display:block;
}

.modal .content{
    margin-bottom:5px;
}

.modal .modal-btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    /* background: #fff; */
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    /* color: #aaa; */
    opacity:0.7;
}

.modal .modal-btn-close:hover { 
    opacity:1; 
}  

.modal .modal-btn-ok {
    /* position: absolute; */
    bottom: 20px;
    right: 30px;
    min-width: 50px;
    height: 32px;
    padding:9px;

    text-align: center;
    cursor: pointer;
    background: #456CB3;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
}

.modal h1{
    font-size:1.2em;
    color :#111;
}

.modal h2{
    font-size:1.1em;
    font-weight:bold;
    margin:12px 0px;
    border-bottom:1px solid #eee;
    max-width:97%;
    color :#111;
}

/* the entire detail's container (which might be then a child of a dialog */
.entry-details{
    margin-top:1.5em;
    max-height:200px;
    padding-right:5px;
    overflow:auto;
    word-wrap:break-word;
    
}
.entry-details .row {
    margin-bottom:0.3em;
}
.entry-details .row .name{
    font-weight: bold;
    display:inline-block;
    margin-right:0.5em;
}

.entry-details .row .value {
    
}

/*
-------------------------------------------------------------------------------
other elements
-------------------------------------------------------------------------------
*/

#loader{
    display: none;
    position:absolute;
    top:45%; 
    left:45%;
    font-size:80%;
    color:#555;
    background-color:white;
    /* border:1px solid #bbb; */
    padding:5px;
    opacity:0.8;

}

/*
-------------------------------------------------------------------------------
just some common stuff
-------------------------------------------------------------------------------
*/
